<% provide :title, t("help.title") %>
<h1><%= t "help.title" %></h1>
<p>
  <%= sanitize t("help.content",
    rails_tutorial: link_to(t("rails_tutorial"), Settings.rails_tutorial),
    book: link_to(t("rails_book"), Settings.rails_book))
  %>
</p>
